/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** video *********************/
.img-container {
  display: grid;
  place-items: center; /* i midten både horisontalt og vertikalt */
  position: relative; /* overlay positioning */
  width: 100vw; /* Fulde viewport width */
  height: 100vh; /* Fulde viewport height */
  overflow: hidden; /* Kun den del, der passer i containeren, resten bliver skåret væk - w3 schools */
}

.img-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* cover hele containeren med aspect ratio */
  transform: translate(-50%, -50%); /* Center video */
}

.img-container h1 {
  color: white;
  font-size: 5rem;
  font-family: "Italianno", cursive;
  text-align: center;
  margin-top: 10%; /* flytter teksten ned */
  z-index: 1;
}

/*************** forside *********************/
.intro {
  margin-top: 4rem;
  place-self: center;
  text-align: center; /* sætter teksten i midten på min class */
  padding: 0 20px; /* luft i siden på mobil */
}

.senærmere {
  place-self: center;
  text-align: center; /* sætter teksten i midten på min class */
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.grid_1 {
  display: flex;
  flex-direction: column; /* billeder under hinanden */
  align-items: center; /* centrerer billederne */
  gap: 20px; /* lidt luft mellem billeder */
}

.grid_1 img {
  width: 80%; /* mindre end fuld bredde på mobil */
  max-width: 300px;
  height: auto;
  margin-bottom: 1rem;
}

/* dekstop, 2 kolloner når desktop*/
@media (min-width: 840px) {
  .grid_1 {
    display: flex;
    flex-direction: row; /* billeder side om side */
    justify-content: center; /* centrer hele rækken */
    gap: 30px; /* afstand mellem billeder */
  }

  .grid_1 img {
    width: 300px; /* fast bredde for begge billeder */
    height: auto;
    margin-bottom: 4rem;
  }
}

/*************** om mig siden *********************/
.boks1 {
  background-color: white;
  border: 1px solid #f4e0c3;
  width: 90%;
  max-width: 800px; /* ændre størrelsen på boksen */
  margin: 0 auto;
  padding: 30px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.nynne {
  place-self: center;
  text-align: center; /* sætter teksten i midten på min class */
  margin-bottom: 1rem;
}

.boks1 img {
  width: 60%;
  display: block;
  margin: 20px auto 0;
  border-radius: 30px; /* runde kanter */
}

.mmd {
  place-self: center;
  text-align: start; /* sætter teksten i midten på min class */
  padding: 30px;
}
.pmmd {
  margin-left: 1rem;
}

ul {
  list-style-type: disc; /* tvinger prikkerne frem - w3 schools */
  padding-left: 40px; /* luft til venstre */
  margin-bottom: 1rem;
}

.erfaring {
  place-self: center;
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 800px) {
  .boks1 {
    max-width: 1100px;
    padding: 30px;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 1 kolonne tekst, 1 kolonne billede */
    gap: 30px;
    align-items: center; /* centrerer vertikalt */
  }

  .boks1 img {
    width: 90%; /* fylder hele kolonnen */
    margin: 0;
  }

  .nynne {
    text-align: left; /* venstrestillet på desktop i grid */
  }
  .billede {
    margin-left: 5rem;
  }
}
