/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/************* Baggrundfarver på tema siderne  ******************/

.tema2baggrund {
  background-color: #f4e0c3;
}

.tema3baggrundsfarve {
  background-color: #ecc697;
}

.tema4baggrundsfarve {
  background-color: #f2ae85;
}

.tema5baggrundsfarve {
  background-color: #d5aa98;
}

/*************** video på forsiden *********************/
.img-container {
  display: grid;
  place-items: center; /* i midten både horisontalt og vertikalt */
  position: relative; /* overlay positioning */
  width: 100vw; /* Gør at elementet bliver ligeså bredt som browservinduet */
  height: 100vh; /* Fulde browservindue */
  overflow: hidden; /* Kun den del, der passer i containeren, resten bliver skåret væk - w3 schools */
}

.img-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* fylder hele skærmen*/
  transform: translate(-50%, -50%); /* Center video */
}

.img-container h1 {
  color: white;
  font-size: 5rem;
  font-family: "Italianno", cursive;
  text-align: center;
  margin-top: 10%; /* flytter teksten ned */
  z-index: 1; /* gør at det ligger forrest */
  font-weight: 10;
}

/*************** forside *********************/
.intro {
  margin-top: 4rem;
  place-self: center;
  text-align: left; /* sætter teksten i midten på min class */
  padding: 0 20px; /* luft i siden på mobil */
}

.senærmere {
  place-self: center;
  text-align: center; /* sætter teksten i midten på min class */
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.grid_1 {
  display: flex;
  flex-direction: column; /* billeder under hinanden */
  align-items: center; /* centrerer billederne */
  gap: 20px; /* Luft mellem mine billeder */
}

.grid_1 img {
  max-width: 300px;
  height: auto;
}

.item {
  text-align: center;
  margin-bottom: 3rem;
  border: 2px solid #000;
  width: 300px; /* bredden */
  height: 270px; /* højden */
  display: flex;
  flex-direction: column; /* Gør at p placere sig under, i rækker */
  margin-bottom: 6rem;
  border-radius: 10px;
}

.bil1 {
  max-width: 100%; /* fylder container bredde, men ikke mere */
  max-height: 80%; /* fylder max 70% af container højde */
  object-fit: contain; /* Gør at billeder passer i boksen, hjælp fra w3 school */
  margin-top: 3.5rem;
}

.bil2 {
  margin-top: 1.7rem;
}

.klik {
  text-decoration: underline;
  color: black;
  font-size: 1.3rem;
  font-family: "News Cycle", sans-serif;
}

.klik:hover {
  color: var(--hoverfarve);
}

.startp {
  padding: 15px;
  margin-bottom: 2rem;
}

/*************** om mig siden *********************/
.boks1 {
  background-color: white;
  border: 1px solid var(--color-boksfarve);
  width: 90%;
  max-width: 800px; /* ændre størrelsen på boksen */
  margin: 0 auto;
  padding: 30px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.overskrift {
  place-self: center;
  text-align: center; /* sætter teksten i midten på min class */
  margin-bottom: 1rem;
}

.boks1 img {
  width: 60%;
  display: block;
  margin: 20px auto 0;
  border-radius: 30px; /* runde kanter */
}

/*************** om mig siden - MMD *********************/
.mmd {
  place-self: center;
  text-align: start; /* sætter teksten i midten i min class */
  margin-top: 4rem;
  padding: 30px;
}

.imageek img {
  width: 50%; /* størrelsen på billedet */
  max-width: 300px; /* begrænser størrelsen */
  height: auto;
  display: block;
  margin: 0 auto; /* centrerer billedet */
  object-position: center;
  border-radius: 30px; /* runde kanter */
}

.text4 {
  padding: 30px;
}

ul {
  list-style-type: disc; /* mine prikker kom ik frem, dette gør de kommer frem - w3 schools */
  padding-left: 40px; /* luft til venstre */
  margin-bottom: 1rem;
}

.liste1 {
  place-self: center;
  font-family: "News Cycle", sans-serif;
}

/***** popup på om mig side - animation ******/

[popover] {
  padding: 1rem;
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  margin-inline: auto; /* bliver centreret horisonalt */
}

[popover] {
  opacity: 0; /* 0 gør at den starter usynligt */
  rotate: 360deg;
  transition: 0.5s allow-discrete; /* animationen varer 0.5 sekunder */
}

:popover-open {
  opacity: 1;
  rotate: none;
  @starting-style {
    opacity: 0;
    rotate: -360deg;
  }
}

#news_popper {
  background-color: var(--color-footerfarve);
}

.boks2 {
  background-color: white;
  border: 1px solid #f4dcc3;
  width: 100%;
  max-width: 400px; /* ændre størrelsen på boksen */
  margin: 0 auto;
  padding: 30px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.cta_btn {
  background-color: rgb(188, 143, 111);
  color: white;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 10px;
  display: block; /* gør at tingene står under hinanden*/
  width: 8rem;
  margin: 1rem auto; /* sætter min knap i midten af boksen */
  font-family: "News Cycle", sans-serif;
}

.cta_btn:hover {
  color: black;
}

.popoverp {
  margin-bottom: 2rem;
}

.popoverh3 {
  margin-bottom: 0.5rem;
}

/* Stjerner i popoveren */
.stjerneliste {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.stjerne-tekst {
  font-weight: bold;
  width: 100px; /* juster efter behov, så teksten står pænt */
}

.stjerner .stjerne {
  color: lightgray; /* tomme stjerner */
}

.stjerner .stjerne.filled {
  color: #ff0000; /* fyldte stjerner */
}

/*************** Temaerne i bokse - projekter siden *********************/

.mineprojekter {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.projekt {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 50px;
}

.tema {
  border-radius: 10px; /* runde kanter */
  max-width: 280px; /* Størrelsen på boksen */
  margin: 0 auto; /* centrerer på mobilen */
}

.img.hover {
  display: none;
}

/* Tekst ovenpå billede */
.tema {
  position: relative; /* container til absolut positioning */
  overflow: hidden; /* skjul alt udenfor */
}

.tema .temaerne {
  position: absolute;
  inset: 0; /* placere teksten ovenpå boksen, ellers bagved */
  display: flex;
  flex-direction: column; /* stablet lodret ift teksten */
  justify-content: center; /* placere i midten lodret */
  text-align: center;
  width: 100%;
  color: white;
  font-family: "Impact", sans-serif;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}

.tema h3 {
  font-size: 1.4rem;
  margin: 0;
}

.tema p {
  margin: 0;
  font-size: 1rem;
}

/************* Mobil site side (tema 2) ******************/
.tema2img {
  max-width: 250px;
  width: 100%;
  height: auto;
  display: block;
  place-self: center;
}

.ntimg {
  max-width: 200px;
  place-self: center;
}

.temasiteh2 {
  text-align: center;
  margin-top: 2rem;
}

.link {
  margin-top: 2rem;
  font-family: "News Cycle", sans-serif;
}

/* Dekstop */
/* Forside - 2 billeder tæt sammen i midten, og grid til liste og erfaring*/
@media (min-width: 840px) {
  .grid_1 {
    display: flex;
    flex-direction: row; /* billeder side om side */
    justify-content: center; /* centrer hele rækken */

    gap: 30px; /* afstand mellem billeder */
  }

  .grid_1 img {
    width: 300px; /* fast bredde for begge billeder */
    height: auto;
    margin-bottom: 1.2rem;
  }

  .boks3 {
    margin-top: 5rem;
  }

  .menu {
    gap: 40px;
  }

  .klik {
    font-size: 1.6rem;
  }

  .bil1 {
    margin-top: 3.3rem;
  }

  .bil2 {
    margin-top: 1rem;
  }
  /* Boksen i starten af "om mig" siden*/
  .boks1 {
    max-width: 1100px;
    padding: 30px;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 1 kolonne tekst, 1 kolonne billede */
    gap: 30px;
    align-items: center; /* centrerer vertikalt */
  }

  .boks1 img {
    width: 90%; /* fylder hele kolonnen */
    margin: 0;
  }

  .overskrift {
    text-align: left; /* venstrestillet på desktop i grid */
  }
  .billede {
    margin-left: 5rem;
  }

  /* Ek - multimediedesigner*/
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    min-height: 80vh;
  }

  .mmd {
    grid-column: 1 / 4; /* h2 spænder over begge kolonner */
    text-align: center;
    margin-bottom: 2rem;
  }

  .imageek {
    grid-row: 2 / 4;
    grid-column: 1;
  }

  .imageek img {
    width: 55%; /* størrelsen på billedet i desktop */
    max-width: 500px; /* kontrollerer størrelse på desktop */
    margin-left: auto; /* flytter billedet mod højre */
    margin-right: 0;
    object-position: right center;
  }

  .text4 {
    grid-column: 2;
    grid-row: 3;
    padding: 3rem;
    align-self: start; /* starter lidt højere op */
    margin-top: -5.5rem; /* jo mere -, jo højere kommer teksten op */
    max-width: 65ch;
  }
  .erfaring {
    margin-left: 4rem;
    margin-bottom: 0.5rem;
  }

  /* Mine projekter - boksene*/
  .projekt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .billede2 {
    overflow: hidden; /* Alt, der strækker sig uden for elementets bredde eller højde, bliver skjult */
    max-width: none;
  }

  .img {
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .img.hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .tema:hover .img.hover {
    opacity: 1;
  }

  .tema:hover .img.normal {
    opacity: 0;
  }

  .tema:hover .img {
    transform: scale(1.05);
  }
  .tema h3 {
    font-size: 1.7rem;
  }
}
